{
  "presets": [
    "react",
    [
      "env",
      {
        "targets": {
          "browsers": [
            "last 2 versions"
          ]
        },
        "modules": false
      }
    ]
  ],
  "plugins": [
    "transform-object-rest-spread",
    "lodash"
  ]
}